/*ELIMINAR MARGENES POR DEFAULT EN TODOS LOS HTML*/
*{
    margin: 0;
    padding: 0;
}

/*FONDO DE LA PÁGINA*/
body {
    background-image: url("../imagenes/fondo.png");
    header{
         .logo {
            .slogan {
                display: flex;
                justify-content: center;
                font-size: 6px;
                font-family: 'Oswald', sans-serif;
            }
        }
    }
}
