@import '../base/listas';
header{
    background-color: nht($colores,1);
    .logo{
        .slogan {
           display: flex;
           justify-content: center;
           font-size: 6px;
           font-family: nht($fuentes,1);
        }
    }
}
