@import '../base/colors';
@import '../base/fonts';
/*FONDO DEL HEADER*/
header{
    background-color: nth($colores,1);
    .logo{
        .slogan {
           display: flex;
           justify-content: center;
           font-size: 6px;
           font-family: nth($fuentes,1);
        }
    }
}
