/*DISEÑO DE TITULO PRINCIPAL*/
.nuestros-productos{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 240, 240, 0.523);
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.84);
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

/*(TITULO) PRODUCTOS*/
.productos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgba(67, 41, 93, 0.072);
    position: relative;
    flex-wrap: wrap;
    padding: 50px;
}

.producto{
    text-align: center;
    background-color: rgba(232, 220, 232, 0.175);
    padding: 10px;
    height: 150;
    border-radius: 5%;
}

/*IMAGENES DE LOS PRODUCTOS*/
.producto-blanco{
    display: flex;
    justify-content: space-around;
    background-color: rgba(58, 58, 58, 0.774);
    display: flex;
    border: rgba(255, 255, 255, 0.664) 8px outset;
    height: 299px;
    width: 215px;
    margin: 50px auto;
    flex-wrap: wrap;
}
/*NOMBRE GENERAL DE PRODUCTOS*/

.producto-informacion{
    background-color: rgba(34, 39, 39, 0.604);
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.745);
    text-transform: uppercase;
    text-decoration: none;
}

/*(TRANSICIONES) FOTOS DE PRODUCTOS*/

.producto-blanco:hover{
    transform: scale(1.2);
    transition:all 1.5s;
    background-color: transparent;
}